
.img-container{
    display: flex;
    align-items: center;
    margin-bottom: -80px;
}
.img-about{
    opacity: .9;
    max-width: 300px;
    max-height: 300px;
    display:flex;
    margin:inherit;
    clip-path: circle(50% at 50% 50%);
    margin-top: 40px;

}
.img-about:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
.text-about{
    color: blanchedalmond;
    vertical-align: middle;
    width: 700px;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    margin-left: 70px;
    margin-top: 130px;
}

.cv{
    color: blanchedalmond !important;
    font-size: 20px;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #0beaea ;
    transition: all 1s ease;
    position: relative;
    width: 150px;
    height: 40px;
    text-align: center;
    opacity: .8;
}
.cv:hover {
    background: #318aac;
    color: #fff !important;
}
.cv-style{
    display: flex;
    text-decoration: none;
    color: #0beaea ;
    margin-left: 8px;
    margin-top:6px ;
}
.tittle-hobby{
    font-size:3em;
    font:bold 5.5vw/1.6 'Girassol', cursive;
    font-family: 'Girassol', cursive;
    color:#0beaea ;
    opacity: .8;
    margin-top: 90px;
    letter-spacing: 8px;
    margin-bottom: 8px;
    text-align: center;
}
.text-hobby{
    color: blanchedalmond;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.gif-hobby{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
    margin-right:30px ;
    margin-bottom: 40px;
}
.gif-hobby:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
.footer{
    background:#0beaea;
    height: 30px; 
    width:100%; 
    position:fixed; 
    bottom:0; 
    left:0; 
    opacity: .7;
}
@media screen and (max-width : 380px){
    .menu{
        background:#0beaea;
        opacity: .7;
        padding: .5em;
        text-align: center;
        font-size: 1.2em;
        position: fixed;
        top: 0;
        width: 100%;    
    }
    .container-img-text{
        display: flex;
    }
    .img-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-about{
        max-width: 150px;
        max-height: 150px;
        display: flex;
        justify-content: center;
        margin-top: 230px;
    }
    .text-about{
        width: 330px;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center;
        margin-right: 60px;
    }
    .tittle-hobby{
        font-size: 2em;
    }
    .text-hobby{
        font-size: 1em;
    }
    .container-gif{
        margin-left: 80px;
    }
    .gif-hobby{
        width: 90px;
        height: 90px;
    }
}
@media screen and (max-width : 780px){
    .menu{
        background:#0beaea;
        opacity: .7;
        padding: .5em;
        text-align: center;
        font-size: 1.2em;
        position: fixed;
        top: 0;
        width: 100%;    
    }
    .container-img-text{
        display: flex;
    }
    .img-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-about{
        max-width: 150px;
        max-height: 150px;
        display: flex;
        justify-content: center;
        margin-top: 230px;
    }
    .text-about{
        width: 330px;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center;
        margin-right: 60px;
    }
    .tittle-hobby{
        font-size: 2em;
    }
    .text-hobby{
        font-size: 1em;
    }
    .container-gif{
        margin-left: 80px;
    }
    .gif-hobby{
        width: 90px;
        height: 90px;
    }
}